* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
}
main {
  background-color: var(--Violet);
  height: 100vh;
}
.img {
  height: 100%;
  object-fit: cover;
}
